*{
    margin: 0;
    padding: 0;
}
/* ==================================== */
.container{

}
.container-wrap{
    width: 1140px ;
    margin: auto;
}
.marquee-bg{
    background-color: #10246a;
    padding: 10px 0px;
    color: #fff;
}
.nav-bg{
    padding: 10px 0px;
    background-color: #e7f0fc;
    border-bottom: 5px solid #3cd9ee;
}
.nav img{
    width: 200px;
}
.nav{
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul {
    display: flex;
    flex-wrap: wrap;
}
.nav ul li{
    list-style: none;
    margin-left: 50px;
}
.nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: #10246a;
}
.nav ul li a:hover{
    color: #3cd9ee;
    transition: 1s all ease;
}
.slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}
.slider-bg{
    background-color: #edf2f8;
}
.slider-content h3{
    font-size: 25px;
    font-weight: 600;
    color: #3cd9ee;
}

.slider-content h1{
    font-size: 38px;
    font-weight: 700;
    color: #10246a;
    font-family: Poppins;
    line-height: 38px;
}
.slider-content p{
    margin-top: 25px;
}
